@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
    background-color: #60A5FA;
}

.location-stamp {
    font-size: 16px;
    margin-right: 15px;
    color: #757575!important;
    text-transform: uppercase;
    letter-spacing: -.5px;

}
.news-top{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.username{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list_slide {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.home-description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-body {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

p.Image {
    color: #757575!important;
    margin-bottom : 20px;
    text-align: center;
    font-style:italic ;
}



@media only screen and (max-width: 600px) {
    .lazy {
        max-width: 360px;
        max-height: auto;
    }
}

p.Normal {
    margin: 0 0 1em;
    line-height: 160%;
    text-rendering: optimizeSpeed;
    font-size: large;
}

.text-des{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

p.description {
    margin: 0 0 1em;
    line-height: 160%;
    text-rendering: optimizeSpeed;
    font-size: large;
}

.desc_cation {
    margin-bottom: 1em;
}

.wrap_video{
    display: none;
}
.block_thumb_picture {
    margin-bottom: 1em;
}

.lazy {
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    max-height: auto;
}

.lazy .lazy-blur {
    margin-left: 400px;
}

.block_tinlienquan_temp {
    display: none;
}

video {
    display: none;
}

.videoContainter{
    display: none;
}

.box_img_video{
    display: none;
}

.embed-container{
    display: none;
}

.author_mail{
    text-align: right;
}

.author{
    text-align: right;
}

.w-screen-90 {
    width: 90vw;
}
.h-screen-50{
    height: 70vh;
}

td img {
    margin-left: auto;
    margin-right: auto;
}
